<!DOCTYPE html>
    <head>
    </head>
    <body>
        <h1>Attendance Router</h1>
        <p>
            <%=present ? present : '' %>
            /<%=total ? total : ''%>
        </p>
    </body>
</html>
